<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softvilla.edusol">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/edu_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/edu_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash"
            android:theme="@style/CustomTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity android:name=".Login"
            android:theme="@style/CustomTheme">

        </activity>
        <activity android:name=".ChildList" />
        <activity android:name=".Result" />
        <activity android:name=".SubjectResults" />
        <activity android:name=".Fee" />
        <activity
            android:name=".Attendance"
            android:theme="@style/CustomTheme" />
        <activity android:name=".ChildMenu" />
        <activity android:name=".Notice"></activity>
    </application>

</manifest>